site_name: Discharge Prediction with Python
site_description: A comprehensive guide to hydrological predictions using Python
site_author: Dr. Harsh Upadhyay(Scientist-B) NIH WRSD, Zuhail Abdullah (RPJ)
site_url: https://rudeprover.github.io/discharge-prediction-docs/

repo_name: rudeprover/discharge-prediction-docs
repo_url: https://github.com/rudeprover/discharge-prediction-docs
edit_uri: edit/main/docs/

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.expand
    - navigation.indexes
    - search.suggest
    - search.highlight
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
  palette:
    - scheme: default
      primary: blue
      accent: light blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: light blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    repo: fontawesome/brands/github

nav:
  - Home: index.md
  - Setup:
    - Installation: setup/installation.md
    - Data Import: setup/data-import.md
  - Fundamentals:
    - Performance Metrics: fundamentals/performance-metrics.md
    - Feature Engineering: fundamentals/feature-engineering.md
  - Models:
    - Simple Linear Regression: models/simple-linear-regression.md
    - Multiple Linear Regression: models/multiple-linear-regression.md
    - Artificial Neural Network: models/artificial-neural-network.md
  - Resources:
    - Time Series Libraries: resources/libraries.md

plugins:
  - search
  - mkdocs-jupyter:
      include_source: false
      execute: false
  - mermaid2

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - admonition
  - attr_list
  - md_in_html
  - tables
  - footnotes
  - def_list
  - toc:
      permalink: true

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - assets/js/extra.js

extra_css:
  - assets/css/extra.css

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/rudeprover
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/zuhail
  analytics:
    provider: google
    property: G-XXXXXXXXXX  # Add your Google Analytics ID here